form {
  width: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    font-weight: 500;
  }

  label {
    margin-top: 10px;
  }

  input {
    width: 100%;
    height: 35px;
    margin: 5px 0;
    padding: 0 10px;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    outline: none;
  }

  .buttonsGroup {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;

    button {
      width: 160px;
      height: 35px;
    }
  }
}
