.navbar {
  ul {
    display: flex;
    gap: 15px;

    li {
      height: 100%;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 1.2rem;

      a {
        height: 22px;
        font-weight: 500;
        color: var(--purple);

        img {
          height: 100%;
        }
      }
    }
  }
}
